:root { 
  --alto: #d9d9d9;
  --alto-2: #d9d9d933;
  --aquamarine: #8bfff8;
  --black: #000000;
  --cod-gray: #070707;
  --metallic-seaweed: #117389;
  --red: #ff000f5e;
  --soapstone: #fffbfb;
  --spray: #71f3eb61;
  --white: #ffffff;
 
  --font-size-l: 30px;
  --font-size-m: 28px;
  --font-size-s: 27px;
  --font-size-xl: 45px;
  --font-size-xs: 24px;
  --font-size-xxl: 58px;
  --font-size-xxs: 18px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-58px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-soapstone-28px {
  color: var(--soapstone);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-28px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-bold-black-38px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: italic;
  font-weight: 400;
}

.inter-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-38px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-18px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-45px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-metallic-seaweed-30px {
  color: var(--metallic-seaweed);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
