<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1512, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/about.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styleguide.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/globals.css') }}" />
    <title>Just In Case </title>
  </head>
  <body style="margin: 0; background: #070707">
    <input type="hidden" id="anPageName" name="page" value="how-it-works" />
    <div class="container-center-horizontal">
      <div class="how-it-works screen">
        <div class="flex-row">
          <div class="flex-col">
            <h1 class="title valign-text-middle">Just in case</h1>
            <img
              class="how-we-workin-5-steps"
              src="{{ url_for('static', filename= 'img/how-we-work----in-5-steps@1x.png') }}"
              alt="How we work?...in 5 steps"
            />
            <img
              class="select-your-the-plan-you-like"
              src="{{ url_for('static', filename= 'img/select-your-the-plan-you-like@1x.png') }}"
              alt="Select the plan you like"
            />
          </div>
          <div class="flex-col-1">
            <div class="flex-row-1 inter-bold-white-28px">
                <a href="index.html"><div class="place inter-bold-white-28px">Home</div></a>
              <div class="overlap-group1">
                <img class="rectangle-12" src="{{ url_for('static', filename= 'img/rectangle-12@1x.png') }}" alt="Rectangle 12" />
                <a href="about.html"><div class="about">About</div></a>
                <a href="services.html"><div class="services inter-bold-white-28px">Services</div></a>
              </div>
              <a href="contact.html"><div class="place-1 inter-bold-white-28px">Contact</div></a>
            </div>
            <img
              class="we-are-a-platform-wh"
              src="{{ url_for('static', filename= 'img/we-are-a-platform-where-you-can-proactivley-plan-a-letter-delive@1x.png') }}"
              alt="We are a platform where you can proactivley plan a letter delivery for those who will be left behind in case you pass away."
            />
            <div class="flex-row-2">
              <img class="about1" src="{{ url_for('static', filename= 'img/about1@2x.png') }}" alt="about1" />
              <img
                class="x2-tell-us-who-you-are-and-for-whom-it-is"
                src="{{ url_for('static', filename= 'img/2--tell-us-who-you-are-and-for-whom-it-is@1x.png') }}"
                alt="2. Tell us who you are and for whom it is"
              />
            </div>
          </div>
        </div>
        <div class="flex-row-3">
          <img
            class="x3-upload-your-letter-and-government-id"
            src="{{ url_for('static', filename= 'img/3--upload-your-letter-and-government-id@1x.png') }}"
            alt="3. Upload your letter and Government ID"
          />
          <img class="about2" src="{{ url_for('static', filename= 'img/about2@2x.png') }}" alt="about2" />
        </div>
        <div class="flex-row-4">
          <img class="about3" src="{{ url_for('static', filename= 'img/about3@2x.png') }}" alt="about3" />
          <img
            class="x4-you-are-ready-to-check-out"
            src="{{ url_for('static', filename= 'img/4--you-are-ready-to-check-out-@1x.png') }}"
            alt="4. You are ready to check out!"
          />
        </div>
        <div class="flex-row-5">
          <img
            class="x5-our-team-will-revi"
            src="{{ url_for('static', filename= 'img/5--our-team-will-review-your-letter-application-if-everything-lo@1x.png') }}"
            alt="5. Our team will review your letter application.If everything looks good, we will program your letter delivery!"
          />
          <img class="about4" src="{{ url_for('static', filename= 'img/about4@2x.png') }}" alt="about4" />
        </div>
        <div class="flex-row-6">
          <img class="about5" src="{{ url_for('static', filename= 'img/about5@2x.png') }}" alt="about5" />
          <div class="overlap-group"><a href="services.html"><div class="continue valign-text-middle">Continue</div></div></a>
        </div>
      </div>
    </div>
  </body>
</html>
