<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1512, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styleguide.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/globals.css') }}" />
    <title>Just In Case </title>
  </head>
  <body style="margin: 0; background: #070707">
    <input type="hidden" id="anPageName" name="page" value="landing-1" />
    <div class="container-center-horizontal">
      <div class="landing-1 inter-bold-white-28px screen">
        <div class="flex-col">
            
          <div class="overlap-group">
            <img class="tunnel-1" src="{{ url_for('static', filename= 'img/tunnel-1@2x.png') }}" alt="tunnel 1" />
            <div class="just-in-case valign-text-middle inter-bold-white-58px">Just in case</div>
          </div>
          <div class="normalizing-we-all-die valign-text-middle inter-light-white-28px">Normalizing we all die</div>
          <div class="overlap-group1">
            <a href="about.html"
              ><div class="how-it-works valign-text-middle inter-bold-black-28px">How it Works?</div>
            </a>
          </div>
        </div>
        <a href="index.html"><div class="place-1 inter-bold-white-28px">Home</div></a>
        <a href="services.html"><div class="place-1 inter-bold-white-28px">Services</div></a>
        <a href="about.html"><div class="place-1 inter-bold-white-28px">About</div></a>
        <a href="contact.html"><div class="place-1 inter-bold-white-28px">Contact</div></a>
      </div>
    </div>
  </body>
</html>
