<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1512, maximum-scale=1.0" />

    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/modal-oops.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styleguide.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/globals.css') }}" />
  </head>
  <body style="margin: 0; background: #070707">
    <input type="hidden" id="anPageName" name="page" value="modal-oops" />
    <div class="container-center-horizontal">
      <div class="modal-oops screen">
        <div class="flex-row">
          <img class="home" src="{{ url_for('static', filename= 'img/home@1x.png') }}" alt="Home" />
          <div class="overlap-group"><img class="services" src="{{ url_for('static', filename= 'img/services@1x.png') }}" alt="Services" /></div>
          <img class="about" src="{{ url_for('static', filename= 'img/about@1x.png') }}" alt="About" />
          <a href="landing.html"><img class="contact" src="{{ url_for('static', filename= 'img/contact@1x.png') }}" alt="Contact" /> </a>
        </div>
        <div class="overlap-group2">
          <div class="overlap-group1">
            <div class="rectangle-7"></div>
            <img class="tunnel-1" src="{{ url_for('static', filename= 'img/tunnel-1-11@1x.png') }}" alt="tunnel 1" />
            <img class="normalizing-we-all-die" src="{{ url_for('static', filename= 'img/normalizing-we-all-die@1x.png') }}" alt="Normalizing we all die" />
            <img
              class="indeed-we-all-will-d"
              src="{{ url_for('static', filename= 'img/indeed--we-all-will-die--however--we-should-stop-treating-death-@1x.png') }}"
              alt="Indeed, we all will die. However, we should stop treating death as a tabu and instead, anticipate it; eventually, it will happen. Not everyone has the chance to leave material things, but your essence, your humor and your love can easily trancend in a letter, or more... Just in case."
            />
            <img class="group-4" src="{{ url_for('static', filename= 'img/group-4-4@1x.png') }}" alt="Group 4" />
            <img class="group-5" src="{{ url_for('static', filename= 'img/group-5-2@1x.png') }}" alt="Group 5" />
            <img class="group-6" src="{{ url_for('static', filename= 'img/group-6@1x.png') }}" alt="Group 6" />
            <img class="services-1" src="{{ url_for('static', filename= 'img/services-1@1x.png') }}" alt="Services" />
            <img class="rectangle-11" src="{{ url_for('static', filename= 'img/rectangle-11@1x.png') }}" alt="Rectangle 11" />
            <div class="comming-soon valign-text-middle">Coming soon!</div>
            <img class="rectangle-12" src="{{ url_for('static', filename= 'img/rectangle-13@1x.svg') }}" alt="Rectangle 12" />
            <img class="tunnel-2" src="{{ url_for('static', filename= 'img/tunnel-2@1x.png') }}" alt="tunnel 2" />
            <p class="oops-this-plan-is inter-bold-white-28px">
              <span class="inter-bold-white-28px">Oops!! <br /></span
              ><span class="span1"
                >This plan is currently unavailable<br />Return soon and we might have it ready to use</span
              >
            </p>
            <div class="rectangle-7"></div> <a href="services.html"><div class="return-to-plans inter-bold-white-38px">Return to plans</div> </a>
          </div>
          <img class="just-in-case" src="{{ url_for('static', filename= 'img/just-in-case@1x.png') }}" alt="Just in case" />
          <img class="what-we-do" src="{{ url_for('static', filename= 'img/what-we-do@1x.png') }}" alt="What we do" />
        </div>
      </div>
    </div>
  </body>
</html>
