<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1512, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/services.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styleguide.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/globals.css') }}" />    <title>Just In Case </title>
  </head>
  <body style="margin: 0; background: #070707">
    <input type="hidden" id="anPageName" name="page" value="plans" />
    <div class="container-center-horizontal">
      <div class="plans screen">
        <div class="flex-row">
            <a href="index.html"><div class="home inter-bold-white-28px">Home</div></a>
            <a href="services.html"><div class="servicesgroup inter-bold-white-28px">Services</div></a>
            <a href="about.html"><div class="about inter-bold-white-28px">About</div></a>
            <a href="contact.html"><div class="contact inter-bold-white-28px">Contact</div></a>
        </div>
        <div class="flex-col">
          <div class="overlap-group3">
            <div class="overlap-group">
              <img class="tunnel-1" src="{{ url_for('static', filename= 'img/tunnel-1-11@1x.png') }}" alt="tunnel 1" />
              <img
                class="normalizing-we-all-die"
                src="{{ url_for('static', filename= 'img/normalizing-we-all-die@1x.png') }}"
                alt="Normalizing we all die"
              />
              <img
                class="indeed-we-all-will-d"
                src="{{ url_for('static', filename= 'img/indeed--we-all-will-die--however--we-should-stop-treating-death-@1x.png') }}"
                alt="Indeed, we all will die. However, we should stop treating death as taboo and instead, anticipate it; eventually, it will happen. Not everyone has the chance to leave material things, but your essence, your humor and your love can easily trancend in a letter, or more... Just in case."
              />

            </div>
            <img class="just-in-case" src="{{ url_for('static', filename= 'img/just-in-case@1x.png') }}" alt="Just in case" />
            <img class="what-we-do" src="{{ url_for('static', filename= 'img/what-we-do@1x.png') }}" alt="What we do" />
            <img class="services-1" src="{{ url_for('static', filename= 'img/services-1@1x.png') }}" alt="Services" />
          </div>
          <div class="group-container">
            <a href="checkout.html"><img class="group-4" src="{{ url_for('static', filename= 'img/group-4-4@1x.png') }}" alt="Group 4" /> </a>
            <div class="overlap-group2">
              <div class="rectangle-7"></div>
              <img class="group-5" src="{{ url_for('static', filename= 'img/group-5-2@1x.png') }}" alt="Group 5" />
              <a href="modal-oops.html"><div class="comming-soon valign-text-middle">Coming soon!</div> </a>
            </div>
            <img class="group-6" src="{{ url_for('static', filename= 'img/group-6-1@1x.png') }}" alt="Group 6" />
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
